.inputOption label {
  display: inline-block;
  width: 13em;
  text-align: center;
}

.inputOption {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.genreSelection {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.genre {
  margin: 1em 0.5em;
}
.genreSelection label {
  display: inline-block;
  text-align: center;
  
  font-size: 1.3em;
  
  color: black;
  background-color: var(--grey-color, grey);
  
  width: 5em;
  padding: 0.3em;
  border-radius: 0.5em;
  
  box-shadow: -1px -1px 1px var(--grey-color-lighter, white),
               1px  1px 1px var(--grey-color-darker, grey);
}
.genre input {
  display: none;
}
.genre :checked + label {
  background-color: var(--cool-color, white);
  box-shadow: inset 1px 1px 2px black;
}

.sliderInfo {
  display: flex;
  align-items: center;
  justify-content: space-around
}

.inputOption input {
  width: calc(250px - 2em);
  height: 5em;
}

.valDisplay {
  display: inline-block;
  font-size: 2em;
  width: 3em;
  font-family: sans-serif;
}

.toggleBlock {
  width: 10px;
  height: 5em;
  margin-left: 5px;
}
.off .indicator {
  background-color: white;
  
  width: 1px;
  height: 95%;
}
.off {
  color: var(--grey-color, grey);
}

.sleepTimerDurationSetting{
  text-align: center;
}
.sleepTimerDurationSetting .valDisplay {
  width: auto;
  font-size: 5em;
}
.sleepTimerDurationSetting input[type="range"] {
  padding: 1em;
  position: relative;
  bottom: 1em;
  width: 20em;
}

.layer-summary p, .layer-summary h3 {
  margin-left: 10vw;
  font-size: 1.3em;
}
.summaryTime {
  color: var(--hot-color, white);
  font-weight: bold;
}
.candidatePool ul {
  padding: 0;
  text-align: center;
  list-style: none;
  font-size: 1.3em;
}
.candidatePool li:nth-child(2n) {
  color: var(--hot-color, white);
}

.unshown {
  display: none;
}
