body{
  color: white;
  background-color: black;
}

.button-display {
  display: inline-block;
  padding: 0.5em 1em;
  
  color: white;
  text-decoration: none;
  
  background-color: #00BFFF;
  border-radius: 9%;
}
.button-display:hover {
  background-color: #65D8FF;
}
